<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.uk.kcl/dzh/zpl/RaceGame"
			class = "kcl.uk.dzh.zpl.raceGame.RaceGamePackage"
			genModel = "model/generated/RaceGame.genmodel" />
	</extension>
</plugin>
